In [1]:
import pandas as pd
import pydataset

# Data Acquisition & Summary

#### Use the pydataset module to load the iris data set into a dataframe, df_iris

In [2]:
iris = pydataset.data('iris')

In [3]:
# print the first 3 rows

iris.columns = [col.lower().replace('.', '_') for col in iris]
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [4]:
# print the number of rows and columns (shape)

iris.shape

(150, 5)

In [5]:
# print the column names

iris.columns.values

array(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'], dtype=object)

In [6]:
# print the data type of each column

iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [7]:
# print the summary statistics for each of the numeric variables. 
# Would you recommend rescaling the data based on these statistics?

iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

#### Read the data tab from the stats module dataset, Excel_Stats.xlsx, into a dataframe, df_excel

In [8]:
df_excel = pd.read_excel('Steven Garis - Excel_Stats.xlsx', sheet_name='Data')
df_excel

FileNotFoundError: [Errno 2] No such file or directory: 'Steven Garis - Excel_Stats.xlsx'

In [ ]:
# assign the first 100 rows to a new dataframe, df_excel_sample

df_excel_sample = df_excel.head(100)
df_excel_sample.head()

In [ ]:
# print the number of rows of your original dataframe

df_excel.shape

In [ ]:
# print the first 5 column names

first_five = list(df_excel.columns.values)[:5]
first_five

In [ ]:
# print the column names that have a data type of object

obj_col = list(df_excel.select_dtypes(object).columns.values)
obj_col

In [ ]:
# compute the range for each of the numeric variables.

df_excel.drop(obj_col, axis=1).max() - df_excel.drop(obj_col, axis=1).min()

#### Find the train.csv file shared through classroom in topic 'Classification'. Get the contents of this file into a dataframe labeled df_google

In [ ]:
df_google = pd.read_csv('train.csv')
df_google.head()

In [ ]:
# print the first 3 rows

df_google.head(3)

In [ ]:
# print the number of rows and columns

df_google.shape

In [ ]:
# print the column names

df_google.columns.values

In [ ]:
# print the data type of each column

df_google.dtypes

In [ ]:
# print the summary statistics for each of the numeric variables

df_google.describe()

In [ ]:
# print the unique values for each of your categorical variables

df_google['date'].unique()

In [ ]:
# In mysql workbench or a terminal, write a query to select 
# all the columns of the passengers table from the titanic database. 
# Export that table to a csv you store locally. Read that csv into a dataframe df_csv.

df_csv = pd.read_csv('titanic_passengers.csv')

In [ ]:
# print the **head** and tail of your new dataframe

df_csv.head()

In [ ]:
# print the head and **tail** of your new dataframe

df_csv.tail()

In [ ]:
# print the number of rows and columns

df_csv.shape

In [ ]:
# print the column names

df_csv.columns

In [ ]:
# print the data type of each column

df_csv.dtypes

In [ ]:
# print the summary statistics for each numeric variable

df_csv.describe()

In [ ]:
# print the unique values for each categorical variables. 
# If there are more than 5 distince values, print the top 5 in terms of prevelence or frequency.

titanic_obj = df_csv.select_dtypes(object)

for col in titanic_obj:
    print(col, (df_csv[col].unique()[:5]))