In [46]:
import pandas as pd
import pydataset

# Data Acquisition & Summary

#### Use the pydataset module to load the iris data set into a dataframe, df_iris

In [52]:
iris = pydataset.data('iris')

In [53]:
# print the first 3 rows

iris.columns = [col.lower().replace('.', '_') for col in iris]
iris.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
1           5.1          3.5           1.4          0.2  setosa
2           4.9          3.0           1.4          0.2  setosa
3           4.7          3.2           1.3          0.2  setosa

In [54]:
# print the number of rows and columns (shape)

iris.shape

(150, 5)

In [80]:
# print the column names

iris.columns.values

array(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species', 'sepal_area', 'petal_area'], dtype=object)

In [56]:
# print the data type of each column

iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [57]:
# print the summary statistics for each of the numeric variables. 
# Would you recommend rescaling the data based on these statistics?

iris.describe()

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

#### Read the data tab from the stats module dataset, Excel_Stats.xlsx, into a dataframe, df_excel

In [58]:
df_excel = pd.read_excel('Steven Garis - Excel_Stats.xlsx', sheet_name='Data')
df_excel

,customer_id,gender,is_senior_citizen,partner,dependents,tenure,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,1371-DWPAZ,Female,0,Yes,Yes,0,0,1,2,Credit card (automatic),56.05,NaN,No
1,2520-SGTTA,Female,0,Yes,Yes,0,1,0,2,Mailed check,20.00,NaN,No
2,2775-SEFEE,Male,0,No,Yes,0,2,1,2,Bank transfer (automatic),61.90,NaN,No
3,2923-ARZLG,Male,0,Yes,Yes,0,1,0,1,Mailed check,19.70,NaN,No
4,3115-CZMZD,Male,0,No,Yes,0,1,0,2,Mailed check,20.25,NaN,No
5,3213-VVOLG,Male,0,Yes,Yes,0,2,0,2,Mailed check,25.35,NaN,No
6,4075-WKNIU,Female,0,Yes,Yes,0,2,1,2,Mailed check,73.35,NaN,No
7,4367-NUYAO,Male,0,Yes,Yes,0,2,0,2,Mailed check,25.75,NaN,No
8,4472-LVYGI,Female,0,Yes,Yes,0,0,1,2,Bank transfer (automatic),52.55,NaN,No
9,5709-LVOEQ,Female,0,Yes,Yes,0,1,1,2,Mailed check,80.85,NaN,No
10,7644-OMVMY,Male,0,Yes,Yes,0,1,0,2,Mailed check,19.85,NaN,No
11,0021-IKXGC,Female,1,No,No,1,2,2,0,Electronic check,72.10,72.10,No
12,0082-LDZUE,Male,0,No,No,1,1,1,0,Mailed check,44.30,44.30,No
13,0247-SLUJI,Male,0,Yes,Yes,1,1,0,0,Mailed check,19.70,19.70,No
14,0248-IPDFW,Female,0,No,No,1,2,1,0,Electronic check,50.10,50.10,No
15,0374-AACSZ,Female,0,No,No,1,1,1,0,Electronic check,50.15,50.15,No
16,0623-GDISB,Female,0,No,No,1,1,1,0,Bank transfer (automatic),48.45,48.45,No
17,0670-KDOMA,Female,0,No,No,1,1,0,0,Mailed check,20.25,20.25,No
18,0673-IGUQO,Male,0,No,No,1,1,0,0,Mailed check,20.45,20.45,No
19,0674-EYYZV,Female,0,No,No,1,1,1,0,Electronic check,54.65,54.65,No
20,0817-HSUSE,Male,0,No,No,1,1,1,0,Electronic check,75.50,75.50,No
21,0927-CNGRH,Male,0,No,Yes,1,1,0,0,Mailed check,19.55,19.55,No
22,0970-QXPXW,Female,0,No,No,1,1,0,0,Mailed check,19.65,19.65,No
23,1015-OWJKI,Male,0,No,No,1,1,0,0,Mailed check,19.05,19.05,No
24,1064-FBXNK,Male,0,Yes,Yes,1,1,0,1,Credit card (automatic),19.85,19.85,No
25,1098-TDVUQ,Female,0,No,No,1,1,0,0,Bank transfer (automatic),19.25,19.25,No
26,1099-GODLO,Female,0,Yes,Yes,1,1,0,2,Mailed check,20.35,20.35,No
27,1135-LMECX,Female,0,No,No,1,1,0,0,Mailed check,19.85,19.85,No
28,1156-ZFYDO,Female,0,No,No,1,1,0,0,Electronic check,19.75,19.75,No
29,1194-SPVSP,Male,0,No,No,1,1,0,0,Bank transfer (automatic),19.65,19.65,No
30,1393-IMKZG,Female,0,No,No,1,1,2,0,Electronic check,95.85,95.85,No
31,1406-PUQVY,Male,0,No,Yes,1,1,1,0,Electronic check,49.90,49.90,No
32,1423-BMPBQ,Female,0,Yes,Yes,1,1,0,0,Mailed check,19.00,19.00,No
33,1452-VOQCH,Male,0,No,No,1,2,2,0,Electronic check,75.10,75.10,No
34,1453-RZFON,Female,0,No,Yes,1,1,1,0,Mailed check,49.90,49.90,No
35,1471-GIQKQ,Female,0,No,No,1,1,1,0,Electronic check,49.95,49.95,No
36,1478-VPOAD,Female,0,No,No,1,1,1,0,Electronic check,43.80,43.80,No
37,1536-HBSWP,Female,0,No,No,1,1,1,0,Electronic check,49.90,49.90,No
38,1622-HSHSF,Female,0,No,No,1,1,0,0,Mailed check,19.55,19.55,No
39,1628-BIZYP,Male,0,No,No,1,1,2,0,Electronic check,85.00,85.00,No
40,1640-PLFMP,Female,0,No,No,1,1,2,0,Electronic check,70.25,70.25,No
41,1663-MHLHE,Male,0,No,No,1,1,0,0,Mailed check,19.20,19.20,No
42,1724-IQWNM,Male,0,No,Yes,1,1,0,0,Mailed check,19.30,19.30,No
43,1746-TGTWV,Male,0,Yes,No,1,1,2,0,Credit card (automatic),75.35,75.35,No
44,1816-FLZDK,Male,0,No,No,1,0,1,0,Mailed check,29.15,29.15,No
45,1845-ZLLIG,Male,0,No,No,1,1,1,0,Mailed check,50.15,50.15,No
46,1866-OBPNR,Male,0,Yes,Yes,1,1,2,0,Credit card (automatic),74.60,74.60,No
47,1895-QTKDO,Female,0,No,No,1,1,1,0,Credit card (automatic),43.95,43.95,No
48,1905-OEILC,Female,0,No,No,1,1,0,0,Mailed check,19.50,19.50,No
49,1928-BXYIV,Male,0,No,No,1,2,1,0,Electronic check,61.15,61.15,No
50,1941-HOSAM,Male,0,Yes,Yes,1,1,2,0,Electronic check,90.10,90.10,No
51,1942-OQFRW,Male,0,No,No,1,1,1,0,Electronic check,44.00,44.00,No
52,2018-QKYGT,Male,0,Yes,Yes,1,1,2,0,Electronic check,81.05,81.05,No
53,2043-WVTQJ,Male,0,Yes,No,1,1,1,0,Mailed check,55.70,55.70,No
54,2049-BAFNW,Female,0,No,No,1,0,1,0,Mailed check,35.90,35.90,No
55,2080-SRCDE,Female,0,No,Yes,1,2,0,0,Mailed check,25.40,25.40,No
56,2081-KJSQF,Male,0,No,No,1,1,0,0,Mailed check,20.25,20.25,No
57,2103-ZRXFN,Male,0,No,No,1,2,1,0,Mailed check,50.75,50.75,No
58,2111-DWYHN,Male,0,No,No,1,1,0,0,Mailed check,21.10,21.10,No
59,2209-XADXF,Female,0,No,No,1,0,1,0,Bank transfer (automatic),25.25,25.25,No
60,2220-IAHLS,Female,0,No,No,1,1,0,0,Credit card (automatic),19.40,19.40,No
61,2239-CFOUJ,Male,0,Yes,Yes,1,1,0,1,Mailed check,20.40,20.40,No
62,2254-DLXRI,Female,0,No,No,1,2,2,0,Mailed check,79.15,79.15,No
63,2262-SLNVK,Female,0,No,No,1,1,2,0,Electronic check,70.10,70.10,No
64,2273-QCKXA,Male,0,No,No,1,1,1,0,Mailed check,49.05,49.05,No
65,2275-RBYQS,Female,0,No,No,1,1,1,0,Mailed check,45.40,45.40,No
66,2369-FEVNO,Male,0,No,No,1,1,0,0,Mailed check,19.90,19.90,No
67,2424-WVHPL,Male,1,No,No,1,1,2,0,Electronic check,74.70,74.70,No
68,2465-BLLEU,Male,0,No,No,1,1,0,0,Mailed check,19.75,19.75,No
69,2468-SJFLM,Male,0,No,No,1,1,2,0,Mailed check,74.30,74.30,No
70,2480-JZOSN,Female,0,Yes,No,1,1,0,0,Mailed check,20.65,20.65,No
71,2538-OIMXF,Female,0,No,Yes,1,0,1,0,Mailed check,24.70,24.70,No
72,2542-HYGIQ,Female,0,No,No,1,1,0,0,Credit card (automatic),19.95,19.95,No
73,2576-HXMPA,Female,0,No,No,1,1,0,0,Credit card (automatic),19.55,19.55,No
74,2585-KTFRE,Male,0,No,Yes,1,1,1,0,Bank transfer (automatic),70.45,70.45,No
75,2592-YKDIF,Female,0,No,No,1,1,0,0,Mailed check,20.35,20.35,No
76,2607-FBDFF,Male,0,No,No,1,1,1,0,Credit card (automatic),49.00,49.00,No
77,2654-VBVPB,Female,0,No,No,1,1,0,0,Bank transfer (automatic),19.90,19.90,No
78,2668-TZSPS,Male,0,No,No,1,1,0,0,Mailed check,20.45,20.45,No
79,2672-OJQZP,Female,0,No,No,1,1,1,0,Mailed check,44.75,44.75,No
80,2676-ISHSF,Male,0,No,No,1,1,0,0,Mailed check,20.30,20.30,No
81,2692-PFYTJ,Female,0,No,No,1,2,0,0,Mailed check,25.75,25.75,No
82,2700-LUEVA,Male,0,No,No,1,1,0,0,Credit card (automatic),20.75,20.75,No
83,2712-SYWAY,Female,0,No,No,1,2,0,0,Electronic check,25.70,25.70,No
84,2740-TVLFN,Male,0,No,No,1,2,1,0,Electronic check,50.15,50.15,No
...,...,...,...,...,...,...,...,...,...,...,...,...,...
6958,3009-JWMPU,Male,0,No,No,62,2,2,1,Electronic check,96.75,6125.40,Yes
6959,0596-BQCEQ,Female,0,Yes,Yes,62,1,2,0,Electronic check,100.15,6283.30,Yes
6960,2382-BCKQJ,Female,0,No,Yes,62,2,2,1,Electronic check,100.15,6413.65,Yes
6961,5445-PZWGX,Male,0,No,No,62,2,2,1,Electronic check,102.00,6529.25,Yes
6962,6646-QVXLR,Male,1,Yes,No,62,2,2,1,Electronic check,103.75,6383.35,Yes
6963,2748-MYRVK,Female,0,No,No,63,2,2,1,Bank transfer (automatic),99.90,6137.00,Yes
6964,7549-MYGPK,Female,0,Yes,Yes,63,2,2,0,Electronic check,100.55,6215.35,Yes
6965,1343-EHPYB,Male,0,Yes,No,63,2,2,0,Electronic check,103.40,6603.00,Yes
6966,2886-KEFUM,Female,0,Yes,No,63,2,2,1,Electronic check,107.50,6873.75,Yes
6967,0617-AQNWT,Female,0,Yes,No,64,0,1,2,Electronic check,47.85,3147.50,Yes
6968,7359-SSBJK,Female,1,No,No,64,1,1,2,Credit card (automatic),70.20,4481.00,Yes
6969,9518-RWHZL,Female,0,No,No,64,2,2,1,Credit card (automatic),100.05,6254.20,Yes
6970,2722-VOJQL,Male,0,No,No,64,2,2,1,Credit card (automatic),105.65,6903.10,Yes
6971,0687-ZVTHB,Male,0,Yes,Yes,65,2,1,1,Credit card (automatic),72.45,4653.85,Yes
6972,5458-CQJTA,Male,0,Yes,Yes,65,1,1,2,Bank transfer (automatic),74.80,4820.15,Yes
6973,8079-XRJRS,Male,0,Yes,No,65,2,2,1,Electronic check,89.75,5769.60,Yes
6974,9614-RMGHA,Male,0,Yes,No,65,2,2,0,Bank transfer (automatic),91.85,5940.85,Yes
6975,3419-SNJJD,Female,1,Yes,No,65,2,2,0,Bank transfer (automatic),105.25,6786.40,Yes
6976,7207-RMRDB,Female,0,Yes,Yes,65,2,2,0,Electronic check,105.50,6985.65,Yes
6977,7067-KSAZT,Female,1,Yes,No,65,2,2,1,Electronic check,106.25,6979.80,Yes
6978,6990-YNRIO,Male,0,Yes,Yes,65,2,2,2,Bank transfer (automatic),108.65,6937.95,Yes
6979,3571-RFHAR,Male,0,No,No,65,2,2,0,Electronic check,109.15,6941.20,Yes
6980,8631-NBHFZ,Male,1,Yes,Yes,66,2,1,2,Credit card (automatic),79.40,5154.60,Yes
6981,8444-WRIDW,Female,1,No,No,66,2,2,0,Credit card (automatic),80.45,5224.35,Yes
6982,8166-ZZTFS,Female,1,Yes,No,66,2,1,2,Bank transfer (automatic),80.55,5265.10,Yes
6983,1587-FKLZB,Male,1,Yes,Yes,66,2,2,0,Credit card (automatic),99.50,6822.15,Yes
6984,2003-CKLOR,Male,0,No,No,66,1,2,0,Electronic check,99.50,6710.50,Yes
6985,2632-UCGVD,Male,1,Yes,No,66,2,2,0,Credit card (automatic),100.05,6871.90,Yes
6986,6097-EQISJ,Female,0,Yes,Yes,66,2,2,1,Credit card (automatic),102.45,6615.15,Yes
6987,3763-GCZHZ,Male,0,Yes,No,66,2,2,1,Electronic check,104.05,6890.00,Yes
6988,3838-OZURD,Male,0,Yes,No,66,2,2,0,Credit card (automatic),105.00,7133.25,Yes
6989,6425-YQLLO,Female,1,Yes,No,66,2,2,1,Credit card (automatic),105.95,6975.25,Yes
6990,7762-URZQH,Male,0,Yes,No,66,2,2,2,Credit card (automatic),106.05,6981.35,Yes
6991,9835-ZIITK,Male,1,Yes,No,66,2,2,1,Electronic check,110.85,7491.75,Yes
6992,7632-MNYOY,Male,1,No,No,66,2,2,1,Credit card (automatic),110.90,7432.05,Yes
6993,4355-HBJHH,Male,0,Yes,Yes,67,2,1,2,Electronic check,79.70,5293.40,Yes
6994,3092-IGHWF,Male,0,Yes,Yes,67,2,2,1,Electronic check,87.40,5918.80,Yes
6995,6481-OGDOO,Male,0,Yes,No,67,1,2,1,Credit card (automatic),90.60,6056.15,Yes
6996,3351-NQLDI,Female,0,Yes,Yes,67,2,2,1,Credit card (automatic),94.35,6341.45,Yes
6997,0639-TSIQW,Female,0,No,No,67,2,2,0,Credit card (automatic),102.95,6886.25,Yes
6998,7694-VLBWQ,Male,0,Yes,No,67,2,2,1,Electronic check,104.10,7040.85,Yes
6999,1150-WFARN,Female,0,Yes,Yes,67,2,2,2,Credit card (automatic),108.75,7156.20,Yes
7000,2659-VXMWZ,Male,0,Yes,Yes,67,2,2,1,Electronic check,111.30,7482.10,Yes
7001,9053-JZFKV,Male,0,No,No,67,2,2,2,Credit card (automatic),116.20,7752.30,Yes
7002,8199-ZLLSA,Male,0,No,No,67,2,2,1,Bank transfer (automatic),118.35,7804.15,Yes
7003,4322-RCYMT,Male,0,Yes,Yes,68,2,1,1,Bank transfer (automatic),75.80,5293.95,Yes
7004,1625-JAIIY,Female,0,Yes,Yes,68,2,2,1,Electronic check,83.00,5685.80,Yes
7005,6818-WOBHJ,Female,1,Yes,No,68,2,2,0,Bank transfer (automatic),89.60,6127.60,Yes
7006,1265-XTECC,Female,1,Yes,No,68,2,2,1,Credit card (automatic),96.55,6581.90,Yes
7007,0324-BRPCJ,Female,1,Yes,No,68,2,2,0,Electronic check,100.20,6851.65,Yes
7008,9090-SGQXL,Male,1,Yes,No,68,2,2,0,Electronic check,105.30,7299.65,Yes
7009,4250-ZBWLV,Male,0,No,No,68,2,2,1,Electronic check,108.45,7176.55,Yes
7010,3192-NQECA,Male,0,Yes,No,68,2,2,2,Bank transfer (automatic),110.00,7611.85,Yes
7011,5271-YNWVR,Male,0,Yes,Yes,68,2,2,2,Electronic check,113.15,7856.00,Yes
7012,0565-IYCGT,Male,0,No,No,69,2,1,1,Credit card (automatic),78.60,5356.45,Yes
7013,1891-FZYSA,Male,1,Yes,No,69,2,2,0,Electronic check,89.95,6143.15,Yes
7014,0979-PHULV,Male,0,Yes,Yes,69,2,2,0,Credit card (automatic),99.45,7007.60,Yes
7015,5502-RLUYV,Female,0,Yes,Yes,69,2,2,0,Electronic check,103.95,7446.90,Yes
7016,6305-YLBMM,Male,0,No,No,69,1,2,1,Bank transfer (automatic),104.05,7262.00,Yes
7017,8634-CILSZ,Male,0,No,No,69,2,2,1,Bank transfer (automatic),104.70,7220.35,Yes
7018,5748-RNCJT,Male,0,No,No,69,2,2,2,Bank transfer (automatic),106.50,7348.80,Yes
7019,5440-FLBQG,Male,1,Yes,No,69,2,2,2,Bank transfer (automatic),108.40,7318.20,Yes
7020,7136-RVDTZ,Male,1,No,No,70,0,1,1,Electronic check,45.25,3264.45,Yes
7021,3512-IZIKN,Female,0,Yes,No,70,2,1,2,Credit card (automatic),65.30,4759.75,Yes
7022,2225-ZRGSG,Female,0,Yes,Yes,70,2,2,2,Bank transfer (automatic),93.90,6579.05,Yes
7023,6797-LNAQX,Male,0,Yes,Yes,70,2,2,2,Bank transfer (automatic),98.30,6859.50,Yes
7024,4550-VBOFE,Male,1,Yes,No,70,2,2,0,Electronic check,102.95,7101.50,Yes
7025,4853-RULSV,Male,0,No,No,70,2,2,2,Credit card (automatic),104.00,7250.15,Yes
7026,0748-RDGGM,Male,0,Yes,No,70,1,2,1,Bank transfer (automatic),109.50,7534.65,Yes
7027,1984-FCOWB,Female,0,Yes,No,70,2,2,1,Electronic check,109.50,7674.55,Yes
7028,1555-DJEQW,Female,0,Yes,Yes,70,2,2,2,Bank transfer (automatic),114.20,7723.90,Yes
7029,0201-OAMXR,Female,0,No,No,70,2,2,1,Credit card (automatic),115.55,8127.60,Yes
7030,1444-VVSGW,Male,0,Yes,No,70,2,2,1,Credit card (automatic),115.65,7968.85,Yes
7031,6559-ILWKJ,Male,0,Yes,No,71,0,1,2,Electronic check,49.35,3515.25,Yes
7032,2530-ENDWQ,Female,0,Yes,No,71,2,2,2,Bank transfer (automatic),93.70,6585.35,Yes
7033,5287-QWLKY,Male,1,Yes,Yes,71,2,2,0,Credit card (automatic),105.10,7548.10,Yes
7034,3259-FDWOY,Male,0,Yes,Yes,71,2,2,2,Bank transfer (automatic),106.00,7723.70,Yes
7035,2834-JRTUA,Male,0,No,No,71,2,2,2,Electronic check,108.05,7532.15,Yes
7036,7317-GGVPB,Male,0,Yes,No,71,2,2,2,Credit card (automatic),108.60,7690.90,Yes
7037,6034-ZRYCV,Female,0,Yes,No,72,0,1,2,Electronic check,54.20,3937.45,Yes
7038,8580-QVLOC,Female,1,Yes,Yes,72,2,1,2,Credit card (automatic),92.45,6440.25,Yes
7039,8809-RIHDD,Male,0,Yes,Yes,72,2,2,2,Electronic check,103.40,7372.65,Yes
7040,0917-EZOLA,Male,1,Yes,No,72,2,2,2,Bank transfer (automatic),104.15,7689.95,Yes
7041,3886-CERTZ,Female,0,Yes,No,72,2,2,1,Electronic check,109.25,8109.80,Yes
7042,2889-FPWRM,Male,0,Yes,No,72,2,2,1,Bank transfer (automatic),117.80,8684.80,Yes

In [59]:
# assign the first 100 rows to a new dataframe, df_excel_sample

df_excel_sample = df_excel.head(100)
df_excel_sample

,customer_id,gender,is_senior_citizen,partner,dependents,tenure,phone_service,internet_service,contract_type,payment_type,monthly_charges,total_charges,churn
0,1371-DWPAZ,Female,0,Yes,Yes,0,0,1,2,Credit card (automatic),56.05,NaN,No
1,2520-SGTTA,Female,0,Yes,Yes,0,1,0,2,Mailed check,20.00,NaN,No
2,2775-SEFEE,Male,0,No,Yes,0,2,1,2,Bank transfer (automatic),61.90,NaN,No
3,2923-ARZLG,Male,0,Yes,Yes,0,1,0,1,Mailed check,19.70,NaN,No
4,3115-CZMZD,Male,0,No,Yes,0,1,0,2,Mailed check,20.25,NaN,No
5,3213-VVOLG,Male,0,Yes,Yes,0,2,0,2,Mailed check,25.35,NaN,No
6,4075-WKNIU,Female,0,Yes,Yes,0,2,1,2,Mailed check,73.35,NaN,No
7,4367-NUYAO,Male,0,Yes,Yes,0,2,0,2,Mailed check,25.75,NaN,No
8,4472-LVYGI,Female,0,Yes,Yes,0,0,1,2,Bank transfer (automatic),52.55,NaN,No
9,5709-LVOEQ,Female,0,Yes,Yes,0,1,1,2,Mailed check,80.85,NaN,No
10,7644-OMVMY,Male,0,Yes,Yes,0,1,0,2,Mailed check,19.85,NaN,No
11,0021-IKXGC,Female,1,No,No,1,2,2,0,Electronic check,72.10,72.10,No
12,0082-LDZUE,Male,0,No,No,1,1,1,0,Mailed check,44.30,44.30,No
13,0247-SLUJI,Male,0,Yes,Yes,1,1,0,0,Mailed check,19.70,19.70,No
14,0248-IPDFW,Female,0,No,No,1,2,1,0,Electronic check,50.10,50.10,No
15,0374-AACSZ,Female,0,No,No,1,1,1,0,Electronic check,50.15,50.15,No
16,0623-GDISB,Female,0,No,No,1,1,1,0,Bank transfer (automatic),48.45,48.45,No
17,0670-KDOMA,Female,0,No,No,1,1,0,0,Mailed check,20.25,20.25,No
18,0673-IGUQO,Male,0,No,No,1,1,0,0,Mailed check,20.45,20.45,No
19,0674-EYYZV,Female,0,No,No,1,1,1,0,Electronic check,54.65,54.65,No
20,0817-HSUSE,Male,0,No,No,1,1,1,0,Electronic check,75.50,75.50,No
21,0927-CNGRH,Male,0,No,Yes,1,1,0,0,Mailed check,19.55,19.55,No
22,0970-QXPXW,Female,0,No,No,1,1,0,0,Mailed check,19.65,19.65,No
23,1015-OWJKI,Male,0,No,No,1,1,0,0,Mailed check,19.05,19.05,No
24,1064-FBXNK,Male,0,Yes,Yes,1,1,0,1,Credit card (automatic),19.85,19.85,No
25,1098-TDVUQ,Female,0,No,No,1,1,0,0,Bank transfer (automatic),19.25,19.25,No
26,1099-GODLO,Female,0,Yes,Yes,1,1,0,2,Mailed check,20.35,20.35,No
27,1135-LMECX,Female,0,No,No,1,1,0,0,Mailed check,19.85,19.85,No
28,1156-ZFYDO,Female,0,No,No,1,1,0,0,Electronic check,19.75,19.75,No
29,1194-SPVSP,Male,0,No,No,1,1,0,0,Bank transfer (automatic),19.65,19.65,No
30,1393-IMKZG,Female,0,No,No,1,1,2,0,Electronic check,95.85,95.85,No
31,1406-PUQVY,Male,0,No,Yes,1,1,1,0,Electronic check,49.90,49.90,No
32,1423-BMPBQ,Female,0,Yes,Yes,1,1,0,0,Mailed check,19.00,19.00,No
33,1452-VOQCH,Male,0,No,No,1,2,2,0,Electronic check,75.10,75.10,No
34,1453-RZFON,Female,0,No,Yes,1,1,1,0,Mailed check,49.90,49.90,No
35,1471-GIQKQ,Female,0,No,No,1,1,1,0,Electronic check,49.95,49.95,No
36,1478-VPOAD,Female,0,No,No,1,1,1,0,Electronic check,43.80,43.80,No
37,1536-HBSWP,Female,0,No,No,1,1,1,0,Electronic check,49.90,49.90,No
38,1622-HSHSF,Female,0,No,No,1,1,0,0,Mailed check,19.55,19.55,No
39,1628-BIZYP,Male,0,No,No,1,1,2,0,Electronic check,85.00,85.00,No
40,1640-PLFMP,Female,0,No,No,1,1,2,0,Electronic check,70.25,70.25,No
41,1663-MHLHE,Male,0,No,No,1,1,0,0,Mailed check,19.20,19.20,No
42,1724-IQWNM,Male,0,No,Yes,1,1,0,0,Mailed check,19.30,19.30,No
43,1746-TGTWV,Male,0,Yes,No,1,1,2,0,Credit card (automatic),75.35,75.35,No
44,1816-FLZDK,Male,0,No,No,1,0,1,0,Mailed check,29.15,29.15,No
45,1845-ZLLIG,Male,0,No,No,1,1,1,0,Mailed check,50.15,50.15,No
46,1866-OBPNR,Male,0,Yes,Yes,1,1,2,0,Credit card (automatic),74.60,74.60,No
47,1895-QTKDO,Female,0,No,No,1,1,1,0,Credit card (automatic),43.95,43.95,No
48,1905-OEILC,Female,0,No,No,1,1,0,0,Mailed check,19.50,19.50,No
49,1928-BXYIV,Male,0,No,No,1,2,1,0,Electronic check,61.15,61.15,No
50,1941-HOSAM,Male,0,Yes,Yes,1,1,2,0,Electronic check,90.10,90.10,No
51,1942-OQFRW,Male,0,No,No,1,1,1,0,Electronic check,44.00,44.00,No
52,2018-QKYGT,Male,0,Yes,Yes,1,1,2,0,Electronic check,81.05,81.05,No
53,2043-WVTQJ,Male,0,Yes,No,1,1,1,0,Mailed check,55.70,55.70,No
54,2049-BAFNW,Female,0,No,No,1,0,1,0,Mailed check,35.90,35.90,No
55,2080-SRCDE,Female,0,No,Yes,1,2,0,0,Mailed check,25.40,25.40,No
56,2081-KJSQF,Male,0,No,No,1,1,0,0,Mailed check,20.25,20.25,No
57,2103-ZRXFN,Male,0,No,No,1,2,1,0,Mailed check,50.75,50.75,No
58,2111-DWYHN,Male,0,No,No,1,1,0,0,Mailed check,21.10,21.10,No
59,2209-XADXF,Female,0,No,No,1,0,1,0,Bank transfer (automatic),25.25,25.25,No
60,2220-IAHLS,Female,0,No,No,1,1,0,0,Credit card (automatic),19.40,19.40,No
61,2239-CFOUJ,Male,0,Yes,Yes,1,1,0,1,Mailed check,20.40,20.40,No
62,2254-DLXRI,Female,0,No,No,1,2,2,0,Mailed check,79.15,79.15,No
63,2262-SLNVK,Female,0,No,No,1,1,2,0,Electronic check,70.10,70.10,No
64,2273-QCKXA,Male,0,No,No,1,1,1,0,Mailed check,49.05,49.05,No
65,2275-RBYQS,Female,0,No,No,1,1,1,0,Mailed check,45.40,45.40,No
66,2369-FEVNO,Male,0,No,No,1,1,0,0,Mailed check,19.90,19.90,No
67,2424-WVHPL,Male,1,No,No,1,1,2,0,Electronic check,74.70,74.70,No
68,2465-BLLEU,Male,0,No,No,1,1,0,0,Mailed check,19.75,19.75,No
69,2468-SJFLM,Male,0,No,No,1,1,2,0,Mailed check,74.30,74.30,No
70,2480-JZOSN,Female,0,Yes,No,1,1,0,0,Mailed check,20.65,20.65,No
71,2538-OIMXF,Female,0,No,Yes,1,0,1,0,Mailed check,24.70,24.70,No
72,2542-HYGIQ,Female,0,No,No,1,1,0,0,Credit card (automatic),19.95,19.95,No
73,2576-HXMPA,Female,0,No,No,1,1,0,0,Credit card (automatic),19.55,19.55,No
74,2585-KTFRE,Male,0,No,Yes,1,1,1,0,Bank transfer (automatic),70.45,70.45,No
75,2592-YKDIF,Female,0,No,No,1,1,0,0,Mailed check,20.35,20.35,No
76,2607-FBDFF,Male,0,No,No,1,1,1,0,Credit card (automatic),49.00,49.00,No
77,2654-VBVPB,Female,0,No,No,1,1,0,0,Bank transfer (automatic),19.90,19.90,No
78,2668-TZSPS,Male,0,No,No,1,1,0,0,Mailed check,20.45,20.45,No
79,2672-OJQZP,Female,0,No,No,1,1,1,0,Mailed check,44.75,44.75,No
80,2676-ISHSF,Male,0,No,No,1,1,0,0,Mailed check,20.30,20.30,No
81,2692-PFYTJ,Female,0,No,No,1,2,0,0,Mailed check,25.75,25.75,No
82,2700-LUEVA,Male,0,No,No,1,1,0,0,Credit card (automatic),20.75,20.75,No
83,2712-SYWAY,Female,0,No,No,1,2,0,0,Electronic check,25.70,25.70,No
84,2740-TVLFN,Male,0,No,No,1,2,1,0,Electronic check,50.15,50.15,No
85,2792-LSHWX,Female,0,No,No,1,1,2,0,Mailed check,83.40,83.40,No
86,2812-SFXMJ,Male,0,No,Yes,1,1,0,0,Mailed check,20.05,20.05,No
87,2853-CWQFQ,Male,0,No,Yes,1,1,1,0,Mailed check,59.55,59.55,No
88,2862-PFNIK,Male,0,No,Yes,1,0,1,0,Electronic check,24.70,24.70,No
89,2866-IKBTM,Female,0,No,No,1,1,0,0,Mailed check,19.55,19.55,No
90,2903-YYTBW,Male,0,Yes,Yes,1,1,1,0,Electronic check,44.55,44.55,No
91,2920-RNCEZ,Male,0,Yes,Yes,1,1,2,0,Credit card (automatic),69.95,69.95,No
92,2967-MXRAV,Male,0,Yes,Yes,1,1,0,1,Mailed check,18.80,18.80,No
93,3030-ZKIWL,Male,0,No,No,1,1,0,0,Mailed check,20.05,20.05,No
94,3069-SSVSN,Female,0,No,No,1,0,1,1,Mailed check,25.85,25.85,No
95,3090-QFUVD,Female,0,No,No,1,1,0,0,Credit card (automatic),20.30,20.30,No
96,3247-MHJKM,Male,0,No,No,1,1,0,0,Mailed check,20.20,20.20,No
97,3308-MHOOC,Male,0,No,Yes,1,1,0,0,Mailed check,19.20,19.20,No
98,3373-YZZYM,Male,0,Yes,Yes,1,1,0,0,Mailed check,19.20,19.20,No
99,3413-BMNZE,Male,1,No,No,1,1,1,0,Bank transfer (automatic),45.25,45.25,No

In [60]:
# print the number of rows of your original dataframe

df_excel.shape

(7043, 13)

In [61]:
# print the first 5 column names

first_five = list(df_excel.columns.values)[:5]
first_five

['customer_id', 'gender', 'is_senior_citizen', 'partner', 'dependents']

In [62]:
# print the column names that have a data type of object

obj_col = list(df_excel.select_dtypes(object).columns.values)
obj_col

['customer_id', 'gender', 'partner', 'dependents', 'payment_type', 'churn']

In [63]:
# compute the range for each of the numeric variables.

df_excel.drop(obj_col, axis=1).max() - df_excel.drop(obj_col, axis=1).min()

is_senior_citizen       1.0
tenure                 72.0
phone_service           2.0
internet_service        2.0
contract_type           2.0
monthly_charges       100.5
total_charges        8666.0
dtype: float64

#### Find the train.csv file shared through classroom in topic 'Classification'. Get the contents of this file into a dataframe labeled df_google

In [64]:
df_google = pd.read_csv('train.csv')
df_google.head()

,rowid,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
1,2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
2,3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1
3,4,2015-02-04 17:54:00,23.15,27.2000,426.0,708.25,0.004772,1
4,5,2015-02-04 17:55:00,23.10,27.2000,426.0,704.50,0.004757,1

In [65]:
# print the first 3 rows

df_google.head(3)

,rowid,date,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
0,1,2015-02-04 17:51:00,23.18,27.2720,426.0,721.25,0.004793,1
1,2,2015-02-04 17:51:59,23.15,27.2675,429.5,714.00,0.004783,1
2,3,2015-02-04 17:53:00,23.15,27.2450,426.0,713.50,0.004779,1

In [66]:
# print the number of rows and columns

df_google.shape

(8143, 8)

In [67]:
# print the column names

df_google.columns.values

array(['rowid', 'date', 'Temperature', 'Humidity', 'Light', 'CO2',
       'HumidityRatio', 'Occupancy'], dtype=object)

In [68]:
# print the data type of each column

df_google.dtypes

rowid              int64
date              object
Temperature      float64
Humidity         float64
Light            float64
CO2              float64
HumidityRatio    float64
Occupancy          int64
dtype: object

In [69]:
# print the summary statistics for each of the numeric variables

df_google.describe()

,rowid,Temperature,Humidity,Light,CO2,HumidityRatio,Occupancy
count,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000,8143.000000
mean,4072.000000,20.619084,25.731507,119.519375,606.546243,0.003863,0.212330
std,2350.825954,1.016916,5.531211,194.755805,314.320877,0.000852,0.408982
min,1.000000,19.000000,16.745000,0.000000,412.750000,0.002674,0.000000
25%,2036.500000,19.700000,20.200000,0.000000,439.000000,0.003078,0.000000
50%,4072.000000,20.390000,26.222500,0.000000,453.500000,0.003801,0.000000
75%,6107.500000,21.390000,30.533333,256.375000,638.833333,0.004352,0.000000
max,8143.000000,23.180000,39.117500,1546.333333,2028.500000,0.006476,1.000000

In [70]:
# print the unique values for each of your categorical variables

df_google['date'].unique()

array(['2015-02-04 17:51:00', '2015-02-04 17:51:59',
       '2015-02-04 17:53:00', ..., '2015-02-10 09:30:59',
       '2015-02-10 09:32:00', '2015-02-10 09:33:00'], dtype=object)

In [71]:
# In mysql workbench or a terminal, write a query to select 
# all the columns of the passengers table from the titanic database. 
# Export that table to a csv you store locally. Read that csv into a dataframe df_csv.

df_csv = pd.read_csv('titanic_passengers.csv')

In [72]:
# print the **head** and tail of your new dataframe

df_csv.head()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
0,0,0,3,male,22.0,1,0,7.2500,S,Third,NaN,Southampton,0
1,1,1,1,female,38.0,1,0,71.2833,C,First,C,Cherbourg,0
2,2,1,3,female,26.0,0,0,7.9250,S,Third,NaN,Southampton,1
3,3,1,1,female,35.0,1,0,53.1000,S,First,C,Southampton,0
4,4,0,3,male,35.0,0,0,8.0500,S,Third,NaN,Southampton,1

In [73]:
# print the head and **tail** of your new dataframe

df_csv.tail()

,passenger_id,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,deck,embark_town,alone
886,886,0,2,male,27.0,0,0,13.00,S,Second,NaN,Southampton,1
887,887,1,1,female,19.0,0,0,30.00,S,First,B,Southampton,1
888,888,0,3,female,NaN,1,2,23.45,S,Third,NaN,Southampton,0
889,889,1,1,male,26.0,0,0,30.00,C,First,C,Cherbourg,1
890,890,0,3,male,32.0,0,0,7.75,Q,Third,NaN,Queenstown,1

In [74]:
# print the number of rows and columns

df_csv.shape

(891, 13)

In [75]:
# print the column names

df_csv.columns

Index(['passenger_id', 'survived', 'pclass', 'sex', 'age', 'sibsp', 'parch',
       'fare', 'embarked', 'class', 'deck', 'embark_town', 'alone'],
      dtype='object')

In [76]:
# print the data type of each column

df_csv.dtypes

passenger_id      int64
survived          int64
pclass            int64
sex              object
age             float64
sibsp             int64
parch             int64
fare            float64
embarked         object
class            object
deck             object
embark_town      object
alone             int64
dtype: object

In [77]:
# print the summary statistics for each numeric variable

df_csv.describe()

,passenger_id,survived,pclass,age,sibsp,parch,fare,alone
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000,891.000000
mean,445.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.602694
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429,0.489615
min,0.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,222.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400,0.000000
50%,445.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200,1.000000
75%,667.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000,1.000000
max,890.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000

In [92]:
# print the unique values for each categorical variables. 
# If there are more than 5 distince values, print the top 5 in terms of prevelence or frequency.

titanic_obj = df_csv.select_dtypes(object)

for col in titanic_obj:
    print(col, (df_csv[col].unique()[:5]))

sex ['male' 'female']
embarked ['S' 'C' 'Q' nan]
class ['Third' 'First' 'Second']
deck [nan 'C' 'E' 'G' 'D']
embark_town ['Southampton' 'Cherbourg' 'Queenstown' nan]