In [4]:
import seaborn as sns
from scipy.stats import ttest_ind, chi2_contingency

In [3]:
df = sns.load_dataset('tips')
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
ttest_ind(df.total_bill, df.tip)

Ttest_indResult(statistic=29.1067945590078, pvalue=1.4419939457083578e-108)

In [7]:
chi2_contingency(df.sex, df.time)

TypeError: '<' not supported between instances of 'str' and 'int'