In [1]:
import acquire_mall
import perpare_mall

In [2]:
df = acquire_mall.get_mall_customers_data()
df = perpare_mall.mall_prepared(df)

In [3]:
perpare_mall.peekatdata(df)

- Shape
(200, 10)
- Head and Tail
     customer_id  gender  age  annual_income  spending_score  \
0              1    Male   19             15              39
1              2    Male   21             15              81
2              3  Female   20             16               6
3              4  Female   23             16              77
4              5  Female   31             17              40
195          196  Female   35            120              79
196          197  Female   45            126              28
197          198    Male   32            126              74
198          199    Male   32            137              18
199          200    Male   30            137              83

     customer_id_outliers  age_outliers  annual_income_outliers  \
0                       0             0                    0.00
1                       0             0                    0.00
2                       0             0                    0.00
3                       0             0                    0.00
4                       0             0                    0.00
195                     0             0                    0.00
196                     0             0                    0.00
197                     0             0                    0.00
198                     0             0                    4.25
199                     0             0                    4.25

     spending_score_outliers  age_encoded
0                          0            1
1                          0            3
2                          0            2
3                          0            5
4                          0           13
195                        0           17
196                        0           27
197                        0           14
198                        0           14
199                        0           12
- Numeric Vars
       customer_id         age  annual_income  spending_score  \
count   200.000000  200.000000     200.000000      200.000000
mean    100.500000   38.850000      60.560000       50.200000
std      57.879185   13.969007      26.264721       25.823522
min       1.000000   18.000000      15.000000        1.000000
25%      50.750000   28.750000      41.500000       34.750000
50%     100.500000   36.000000      61.500000       50.000000
75%     150.250000   49.000000      78.000000       73.000000
max     200.000000   70.000000     137.000000       99.000000

       customer_id_outliers  age_outliers  annual_income_outliers  \
count                 200.0         200.0              200.000000
mean                    0.0           0.0                0.042500
std                     0.0           0.0                0.423931
min                     0.0           0.0                0.000000
25%                     0.0           0.0                0.000000
50%                     0.0           0.0                0.000000
75%                     0.0           0.0                0.000000
max                     0.0           0.0                4.250000

       spending_score_outliers  age_encoded
count                    200.0   200.000000
mean                       0.0    20.680000
std                        0.0    13.636251
min                        0.0     0.000000
25%                        0.0    10.750000
50%                        0.0    18.000000
75%                        0.0    31.000000
max                        0.0    50.000000
- String Columns
--- gender
Female    112
Male       88
Name: gender, dtype: int64