In [1]:
import pandas as pd

import acquire_zillow
import prepare_zillow

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df = prepare_zillow.prep_zill()

In [101]:
df.shape

(91822, 61)

In [67]:
def column_missing(df):
    missing_count = df.isnull().sum()
    missing_percent = df.isnull().sum()/df.shape[0]*100
    missing_count = pd.DataFrame(missing_count)
    missing_percent = pd.DataFrame(missing_percent)
    missing_count = missing_count.rename(columns={0: 'na_count'})
    missing_percent = missing_percent.rename(columns={0: 'na_percent'})
    column_na = missing_count.join(missing_percent)
    column_na['na_percent'] = column_na['na_percent'].round(2)
    return column_na

In [98]:
b = column_missing(df)

In [104]:
b

                              na_count  na_percent
id                                   0        0.00
parcelid                             0        0.00
logerror                             0        0.00
transactiondate                      0        0.00
basementsqft                     91822      100.00
bathroomcnt                          0        0.00
bedroomcnt                           0        0.00
buildingqualitytypeid              763        0.83
calculatedbathnbr                    0        0.00
decktypeid                       91822      100.00
finishedfloor1squarefeet         91822      100.00
calculatedfinishedsquarefeet         0        0.00
finishedsquarefeet12                 3        0.00
finishedsquarefeet13             91822      100.00
finishedsquarefeet15             91819      100.00
finishedsquarefeet50             91822      100.00
finishedsquarefeet6              91822      100.00
fips                                 0        0.00
fireplacecnt                     91821      100.00
fullbathcnt                          0        0.00
garagecarcnt                     91815       99.99
garagetotalsqft                  91815       99.99
hashottuborspa                   91259       99.39
latitude                             0        0.00
longitude                            0        0.00
lotsizesquarefeet                 2340        2.55
poolcnt                          69554       75.75
poolsizesum                      91822      100.00
pooltypeid10                     91259       99.39
pooltypeid2                      91822      100.00
pooltypeid7                      69572       75.77
propertycountylandusecode            0        0.00
propertyzoningdesc                 345        0.38
rawcensustractandblock               0        0.00
regionidcity                      1972        2.15
regionidcounty                       0        0.00
regionidneighborhood             45328       49.37
regionidzip                         17        0.02
roomcnt                              0        0.00
threequarterbathnbr              91821      100.00
unitcnt                              0        0.00
yardbuildingsqft17               91822      100.00
yardbuildingsqft26               91822      100.00
yearbuilt                           18        0.02
numberofstories                  91810       99.99
fireplaceflag                    91821      100.00
structuretaxvaluedollarcnt         105        0.11
taxvaluedollarcnt                    0        0.00
assessmentyear                       0        0.00
landtaxvaluedollarcnt                0        0.00
taxamount                            8        0.01
taxdelinquencyflag               88535       96.42
taxdelinquencyyear               88535       96.42
censustractandblock                189        0.21
airconditioningdesc              49961       54.41
architecturalstyledesc           91821      100.00
buildingclassdesc                91822      100.00
heatingorsystemdesc               1070        1.17
propertylandusedesc                  0        0.00
storydesc                        91822      100.00
typeconstructiondesc             91822      100.00

In [81]:
def row_missing(df):
    missing_count = df.isnull().sum(axis=1)
    missing_percent = df.isnull().sum(axis=1)/df.shape[1]*100
    missing_count = pd.DataFrame(missing_count)
    missing_percent = pd.DataFrame(missing_percent)
    missing_count = missing_count.rename(columns={0: 'na_count'})
    missing_percent = missing_percent.rename(columns={0: 'na_percent'})
    row_na = missing_count.join(missing_percent)
    row_na['na_percent'] = row_na['na_percent'].round(2)
    return row_na

In [102]:
a = row_missing(df)

In [103]:
a

       na_count  na_percent
0            27       44.26
2            27       44.26
3            27       44.26
3            27       44.26
3            27       44.26
3            27       44.26
4            25       40.98
5            28       45.90
6            29       47.54
6            29       40.98
6            25       47.54
6            25       40.98
8            29       47.54
9            26       42.62
10           28       45.90
10           28       40.98
10           25       45.90
10           25       40.98
11           27       44.26
12           29       47.54
17           27       44.26
18           29       47.54
19           27       44.26
20           28       45.90
20           28       42.62
20           26       45.90
20           26       42.62
23           26       42.62
23           26       44.26
23           27       42.62
23           27       44.26
24           27       44.26
25           28       45.90
25           28       45.90
25           28       45.90
25           28       45.90
26           28       45.90
27           27       44.26
28           25       40.98
28           25       45.90
28           28       40.98
28           28       45.90
29           28       45.90
30           26       42.62
30           26       44.26
30           27       42.62
30           27       44.26
31           28       45.90
32           26       42.62
32           26       45.90
...         ...         ...
90201        29       47.54
90203        24       39.34
90204        26       42.62
90205        29       47.54
90206        28       45.90
90208        27       44.26
90210        25       40.98
90211        28       45.90
90217        25       40.98
90218        26       42.62
90219        28       45.90
90220        27       44.26
90221        28       45.90
90222        26       42.62
90224        29       47.54
90228        29       47.54
90229        29       47.54
90231        28       45.90
90232        26       42.62
90233        28       45.90
90234        29       47.54
90235        28       45.90
90236        25       40.98
90237        26       42.62
90238        25       40.98
90239        27       44.26
90240        25       40.98
90241        28       45.90
90245        28       45.90
90246        26       42.62
90247        28       45.90
90251        29       47.54
90252        28       45.90
90253        26       42.62
90254        28       45.90
90255        28       45.90
90257        26       42.62
90258        27       44.26
90259        27       44.26
90260        27       44.26
90261        28       45.90
90262        27       44.26
90263        27       44.26
90264        26       42.62
90265        28       45.90
90268        28       45.90
90269        29       47.54
90271        28       45.90
90273        29       47.54
90274        30       49.18

[138190 rows x 2 columns]