In [1]:
import pandas as pd
import numpy as np
from scipy import stats

from sklearn.model_selection import train_test_split

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns
plt.style.use('classic')

from sklearn.linear_model import LinearRegression



import acquire_zillow
import prepare_zillow

pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 500)
pd.set_option('display.width', 1000)

In [2]:
df = prepare_zillow.prep_zill()

In [3]:
df.shape

(91822, 61)

In [4]:
df.head()

,id,parcelid,logerror,transactiondate,basementsqft,bathroomcnt,bedroomcnt,buildingqualitytypeid,calculatedbathnbr,decktypeid,finishedfloor1squarefeet,calculatedfinishedsquarefeet,finishedsquarefeet12,finishedsquarefeet13,finishedsquarefeet15,finishedsquarefeet50,finishedsquarefeet6,fips,fireplacecnt,fullbathcnt,garagecarcnt,garagetotalsqft,hashottuborspa,latitude,longitude,lotsizesquarefeet,poolcnt,poolsizesum,pooltypeid10,pooltypeid2,pooltypeid7,propertycountylandusecode,propertyzoningdesc,rawcensustractandblock,regionidcity,regionidcounty,regionidneighborhood,regionidzip,roomcnt,threequarterbathnbr,unitcnt,yardbuildingsqft17,yardbuildingsqft26,yearbuilt,numberofstories,fireplaceflag,structuretaxvaluedollarcnt,taxvaluedollarcnt,assessmentyear,landtaxvaluedollarcnt,taxamount,taxdelinquencyflag,taxdelinquencyyear,censustractandblock,airconditioningdesc,architecturalstyledesc,buildingclassdesc,heatingorsystemdesc,propertylandusedesc,storydesc,typeconstructiondesc
0,2931667,11016594,0.0276,2016-01-01,NaN,2.0,3.0,4,2.0,NaN,NaN,1684.0,1684.0,NaN,NaN,NaN,NaN,6037,NaN,2.0,NaN,NaN,NaN,34280990.0,-118488536.0,7528.0,NaN,NaN,NaN,NaN,NaN,0100,LARS,6.03711e+07,12447,3101,31817,96370,0.0,NaN,1.0,NaN,NaN,1959.0,NaN,NaN,122754.0,360170.0,2015,237416.0,6735.88,None,NaN,6.03711e+13,Central,None,None,Central,Single Family Residential,None,None
2,2444575,12098116,-0.0040,2016-01-01,NaN,3.0,2.0,4,3.0,NaN,NaN,2217.0,2217.0,NaN,NaN,NaN,NaN,6037,NaN,3.0,NaN,NaN,NaN,34136312.0,-118175032.0,11423.0,NaN,NaN,NaN,NaN,NaN,0100,PSR6,6.03746e+07,47019,3101,275411,96293,0.0,NaN,1.0,NaN,NaN,1940.0,NaN,NaN,61994.0,119906.0,2015,57912.0,11484.48,None,NaN,6.03746e+13,Central,None,None,Central,Single Family Residential,None,None
3,1584730,12643413,0.0218,2016-01-02,NaN,2.0,2.0,4,2.0,NaN,NaN,839.0,839.0,NaN,NaN,NaN,NaN,6037,NaN,2.0,NaN,NaN,NaN,33755800.0,-118309000.0,70859.0,NaN,NaN,NaN,NaN,NaN,010C,LAR3,6.0373e+07,12447,3101,54300,96222,0.0,NaN,1.0,NaN,NaN,1987.0,NaN,NaN,171518.0,244880.0,2015,73362.0,3048.74,None,NaN,6.0373e+13,Central,None,None,Central,Condominium,None,None
5,2843942,11509835,-0.2705,2016-01-02,NaN,4.0,4.0,1,4.0,NaN,NaN,3067.0,3067.0,NaN,NaN,NaN,NaN,6037,NaN,4.0,NaN,NaN,NaN,33870089.0,-118402768.0,2708.0,NaN,NaN,NaN,NaN,NaN,0100,HBR3YY,6.03762e+07,29712,3101,NaN,96109,0.0,NaN,1.0,NaN,NaN,1982.0,NaN,NaN,880650.0,2447951.0,2015,1567301.0,27126.57,None,NaN,6.03762e+13,Central,None,None,Central,Single Family Residential,None,None
6,1628001,12286022,0.0440,2016-01-02,NaN,1.0,2.0,7,1.0,NaN,NaN,1297.0,1297.0,NaN,NaN,NaN,NaN,6037,NaN,1.0,NaN,NaN,NaN,33899475.0,-118212720.0,6677.0,NaN,NaN,NaN,NaN,NaN,0100,CORH*,6.03754e+07,24174,3101,NaN,96091,0.0,NaN,1.0,NaN,NaN,1939.0,NaN,NaN,64549.0,111521.0,2015,46972.0,2304.97,None,NaN,6.03754e+13,None,None,None,Floor/Wall,Single Family Residential,None,None

In [5]:
df = prepare_zillow.impute_landsqft(df)

In [6]:
list_to_fill = ['poolcnt']

df = prepare_zillow.fill_na_with_0(df, list_to_fill)

In [7]:
df = prepare_zillow.drop_null_percent_column(df)

In [ ]:
prepare_zillow.column_missing(df)

In [8]:
df.isnull().sum()

id                                 0
parcelid                           0
logerror                           0
transactiondate                    0
bathroomcnt                        0
bedroomcnt                         0
buildingqualitytypeid            763
calculatedbathnbr                  0
calculatedfinishedsquarefeet       0
finishedsquarefeet12               3
fips                               0
fullbathcnt                        0
latitude                           0
longitude                          0
lotsizesquarefeet                  0
poolcnt                            0
propertycountylandusecode          0
propertyzoningdesc               345
rawcensustractandblock             0
regionidcity                    1972
regionidcounty                     0
regionidzip                       17
roomcnt                            0
unitcnt                            0
yearbuilt                         18
structuretaxvaluedollarcnt       105
taxvaluedollarcnt                  0
assessmentyear                     0
landtaxvaluedollarcnt              0
taxamount                          8
censustractandblock              189
heatingorsystemdesc             1070
propertylandusedesc                0
dtype: int64

In [9]:
# Info in these columns are still missing a lot and seem useless

df = df.drop(columns=['id', 
                      'transactiondate',
                      'buildingqualitytypeid', 
                      'propertyzoningdesc', 
                      'regionidcity', 
                      'censustractandblock', 
                      'heatingorsystemdesc',
                      'propertycountylandusecode',
                      'rawcensustractandblock',
                      'assessmentyear'])

In [10]:
# Only a few NaN left, dropping.

df.dropna(inplace=True)

In [11]:
# bathroomcnt, calculatedbathnbr and fullbathcnt are all the same numbers
# calculatedfinishedsquarefeet and finishedsquarefeet12 same

df = df.drop(columns=['calculatedbathnbr', 'fullbathcnt', 'finishedsquarefeet12'])

In [12]:
df.shape

(91678, 20)

In [13]:
df.dtypes

parcelid                         object
logerror                        float64
bathroomcnt                     float64
bedroomcnt                      float64
calculatedfinishedsquarefeet    float64
fips                             object
latitude                        float64
longitude                       float64
lotsizesquarefeet               float64
poolcnt                         float64
regionidcounty                   object
regionidzip                      object
roomcnt                         float64
unitcnt                         float64
yearbuilt                       float64
structuretaxvaluedollarcnt      float64
taxvaluedollarcnt               float64
landtaxvaluedollarcnt           float64
taxamount                       float64
propertylandusedesc              object
dtype: object

In [14]:
df.describe()

           logerror   bathroomcnt    bedroomcnt  calculatedfinishedsquarefeet      latitude     longitude  lotsizesquarefeet       poolcnt       roomcnt  unitcnt     yearbuilt  structuretaxvaluedollarcnt  taxvaluedollarcnt  landtaxvaluedollarcnt     taxamount
count  91678.000000  91678.000000  91678.000000                  91678.000000  9.167800e+04  9.167800e+04       9.167800e+04  91678.000000  91678.000000  91678.0  91678.000000                9.167800e+04       9.167800e+04           9.167800e+04   91678.00000
mean       0.012706      2.267191      3.028862                   1730.548747  3.411178e+07 -1.182596e+08       3.800544e+04      0.242665      0.000491      1.0   1964.117673                1.835406e+05       4.639448e+05           2.804042e+05    6077.63819
std        0.159005      0.967215      0.944017                    887.940442  2.209328e+05  2.179143e+05       1.464728e+05      0.428696      0.058242      0.0     23.941918                2.331251e+05       6.491168e+05           4.688347e+05    7889.95637
min       -4.655420      1.000000      1.000000                    800.000000  3.333953e+07 -1.189082e+08      -9.386551e+03      0.000000      0.000000      1.0   1878.000000                1.000000e+02       1.095800e+04           1.610000e+02     120.84000
25%       -0.028400      2.000000      2.000000                   1176.000000  3.396513e+07 -1.184250e+08       6.105000e+03      0.000000      0.000000      1.0   1950.000000                8.460000e+04       1.838682e+05           6.250000e+04    2732.73000
50%        0.005904      2.000000      3.000000                   1493.000000  3.409209e+07 -1.182844e+08       7.757000e+03      0.000000      0.000000      1.0   1961.000000                1.334310e+05       3.253500e+05           1.752880e+05    4414.52000
75%        0.039700      3.000000      4.000000                   1988.000000  3.419604e+07 -1.181101e+08       1.853100e+04      0.000000      0.000000      1.0   1983.000000                2.076632e+05       5.299870e+05           3.364810e+05    6821.83250
max        5.262999     15.000000     16.000000                  21929.000000  3.481877e+07 -1.176521e+08       6.971010e+06      1.000000      9.000000      1.0   2016.000000                9.948100e+06       2.775000e+07           2.450000e+07  321936.09000

In [ ]:
def iqr_outliers(s, k):
    q1, q3 = s.quantile([.25, .75])
    iqr = q3 - q1
    high = s > (q3 + k * iqr)
    low = s < (q1 - k * iqr)

    return low.sum(), high.sum()

In [ ]:
iqr_outliers(df.logerror, 1.5)

In [ ]:
def stdev_outliers(s, k):
    s_desc = s.describe()
    mean = s_desc[1]
    std = s_desc[2]
    high = s > (mean + (std * k))
    low = s < (mean - (std * k))
    return low.sum(), high.sum()

In [ ]:
stdev_outliers(df.logerror, 2)

In [ ]:
def percent_outliers(s, k):
    k = k/100
    low_k = 0 + k
    high_k = 1 - k
    low = s < s.quantile(low_k)
    high = s > s.quantile(high_k)
    return low.sum(), high.sum()

In [ ]:
percent_outliers(df.logerror, 1)

In [ ]:
def find_outliers(s, f, k):
    if f == 'iqr':
        return iqr_outliers(s,k)
    elif f == 'stdev':
        return stdev_outliers(s,k)
    elif f == 'percent':
        return percent_outliers(s, k)

In [ ]:
find_outliers(df.logerror, 'iqr', 2)

In [ ]:
df.dtypes

In [16]:
df.shape

(91678, 20)